.container {
  background-color: #cff3ff;
  height: 100vh;
}
.nav-bar {
  height: 8vh;
}
.logo-container {
  height: inherit;
  display: flex;
  align-items: center;
  background-color: deepskyblue;
  box-shadow: 0px -10px 20px 5px;
}
.site-name {
  font-size: 2rem;
  margin-left: 1rem;
}
@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  width: 4rem;
  aspect-ratio: 1;
  animation: rotate-logo 10s linear infinite;
}
.content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92vh;
}
