name: CI

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code 🛎
        uses: actions/checkout@v2
      - name: Set up pnpm 🛠
        uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Set up AWS CLI 🛠
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Deploy CloudFormation Stack 🚀
        run: |
          aws cloudformation deploy --template-file ./cloudformation/stack.yml --stack-name <your-stack-name>
          echo "Domain Name: $(aws cloudformation describe-stacks --stack-name <your-stack-name> --query "Stacks[0].Outputs[?OutputKey=='StaticWebsiteDistributionDomainName'].OutputValue" --output text)"
          echo "Distribution ID: $(aws cloudfront list-distributions --output json | jq '.DistributionList.Items[] | select(.Origins.Items[].DomainName | contains("<your-unique-bucket-name>.s3"))'.Id)"
      ## Uncomment the following lines if you need to install dependencies and build your package
      # - name: Install dependencies 📦
      #   run: pnpm install
      # - name: Build package 🏗
      #   run: pnpm build
      - name: Deploy to S3 🚀
        run: |
          aws s3 sync ./src s3://<your-unique-bucket-name> --delete
      - name: Invalidate CloudFront Cache 🧹
        run: |
          aws cloudfront create-invalidation --distribution-id <your-distribution-id> --paths "/*"
